
<style>
    pre {display:none;}
    body {
        font: 12px Arial;        
    }
    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
    .axis path, .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .x.axis path {
        display: none;
    }
</style>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">

function drawChart(){
  $("#curve_chart").each( function() {
		//var jsonFormat_data_list = $("curve_chart").data("param1");
		  
		//CREATING NECESSARY DATA PARSING METHOD
		var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
		//var parseDate = d3.time.format("%d-%b-%y").parse; //test

		function getColorList(colorlist){
		  switch(colorlist) {
		  case 1:
		    return [d3.rgb("#C0392B"), 
		            d3.rgb("#884EA0"), 
		            d3.rgb("#2471A3"),
		            d3.rgb("#138D75"),
		            d3.rgb("#28B463"),
		            d3.rgb("#D68910"),
		            d3.rgb("#273746"),
		            d3.rgb("#CC99FF"),
		            d3.rgb("#CC3333"),
		            d3.rgb("#6666FF"),
		            d3.rgb("#669999"),
		            d3.rgb("#999900"),
		            d3.rgb("#00CC66"),
		            d3.rgb("#3333CC"),
		            d3.rgb("#330066"),
		            d3.rgb("#330000"),
		            d3.rgb("#42F4EB"),
		            d3.rgb("#81C42F"),
		            d3.rgb("#C4592F"),
		            d3.rgb("#59240F"),
		            d3.rgb("#4E3F59"),
		            d3.rgb("#4C1272"),
		            d3.rgb("#C1016E"),
		            d3.rgb("#824F6C"),
		            d3.rgb("#8C313E"),
		            d3.rgb("#330000"),
		            ];
		    break;
		  default:
		    return getColorList(1);
		  }
		}

		//GETTING THE DATA
		var data = d3.csv.parse( d3.select("pre#data").text() );

		//Processing the DATA
		var columns = Object.keys(data[0]);
		var colnum = columns.length;
		var actuators = Object.values(data[0])
		var isActuator = new Object();
		var numActuators = 0;
		for (c = 0; c < columns.length; c++){
		  isActuator[columns[c]] = actuators[c];
		  numActuators = (actuators[c] == 1) ? numActuators + 1 : numActuators;
		}

		data.forEach(function (d) {
		  Object.getOwnPropertyNames(d).forEach(function(val){
		    if(isActuator[val]==1){
		      d[val] = (d[val] == 0) ? null : +d[val];
		    } else if (val=="date") {
		      d[val] = parseDate(d[val]);
		    } else {
		      if (d[val] == 'NA'){
		        d[val] = null;
		      } else {
		        d[val] = +d[val];
		      }
		    }
		  })
		});
		data.shift();
	    function sortByDate(x, y) {
	      return x["date"] - y["date"];
	    }
		data = data.sort(sortByDate);

		//CREATING THE GRAPH
		var dimX = $("#curve_chart").innerWidth(); // moved outside of ready function
		var dimY = $("#curve_chart").innerHeight(); // might not work
		var margin = {top: (30+10*numActuators), right: (2+45*(colnum-numActuators-1)), bottom: 30, left: 50};
		var width = dimX - margin.left - margin.right;
		var height = dimY - margin.top - margin.bottom;
		
		// if only actuators reduce the height of the graph by a ton
		if (numActuators+1 == colnum){
			height = 10;
		}


		var acceptableColors = getColorList(1);
		
		function dataSubset(d, column){
			var subset = new Array();
			
			for (var i=0; i<d.length; i++){
				if (d[i][column] !== null){
					var temp = new Object();
					temp["date"] = d[i]["date"];
					temp[column] = d[i][column];
					subset.push(temp);
				}
			}
			return subset;
		}
		
		function onlyNulls(d, column){
			var subset = new Array();
			var prevVal = d[0][column];
			var n = 0;
			while (prevVal == null) {
				prevVal = d[n][column]
				n++;
			}
			
			for (var i=0; i<d.length; i++){
				if (d[i][column] == null){
					var temp = new Object();
					temp["date"] = d[i]["date"];
					temp[column] = prevVal;
					subset.push(temp);
				} else {
					prevVal = d[i][column];
				}
			}
			return subset;
		}
		
		// initializing graph size
		var svg = d3.select("#curve_chart")
			.append("svg")
			.attr("width", width + margin.left + margin.right)
			.attr("height", height + margin.top + margin.bottom)
			.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		
		// constructing graph
		var aspot = 1;
		var x = d3.time.scale().range([40, width-15])
			.domain(d3.extent(data, function (d) { return d["date"]; }));
		var xAxis = d3.svg.axis().scale(x)
			.orient("bottom").ticks(10);
		var yspot = 1;
		var yside = "left";
		var color = acceptableColors.shift()
		
		columns.forEach(function(column){
			if(isActuator[column] == 1){ 									// for all actuators
				
				var ds = dataSubset(data, column);
				var a = d3.scale.linear().range([height, -1*(10+10*aspot)])
					.domain([0, d3.max(ds, function (d) { return d[column]; })]);
				var aline = d3.svg.line()
					.defined(function(d) { return d[column]; } )
					.x(function (d) { return x(d["date"]); } )
					.y(function (d) { return a(d[column]); } );
				
				svg.append("path")
					.style("stroke", color)
					.style("stroke-width", 10)
					.attr("d", aline(ds));
				
				svg.append("text")
					.style("fill", color)
					.attr("x", -45)
					.attr("y", -6-(10*aspot))
					.text(column);

				aspot ++;
				color = acceptableColors.shift()
							
			} else if (column.localeCompare("date") == 0){ 					// for just the date
				
			    svg.append("g")
			      .attr("class", "x axis")
			      .attr("transform", "translate(0," + height + ")")
			      .call(xAxis);
				
			} else {														// for the sensors
								
				var ds = dataSubset(data, column);
				var y = d3.scale.linear().range([height, 0])
			    	.domain([ (d3.min(ds, function(d) { return d[column]; }))*0.85, d3.max(ds, function (d) { return d[column]; }) ]);
			    var yAxis = d3.svg.axis().scale(y)
			    	.orient(yside).ticks(8);
			    var yline = d3.svg.line()
			    	.x(function (d) { return x(d["date"]); } )
			    	.y(function (d) { return y(d[column]); } )
			    	.defined(function(d) { return d[column]; } );
			    
			    svg.append("path")
			    	.style("stroke", color)
			    	.attr("d", yline(ds));
			    
			    if (yspot == 1) {
			    	svg.append("g")
			    		.style("fill", color)
			    		.attr("class", "y axis")
			    		.attr("transform", "translate(-15,0)")
			    		.call(yAxis)
			    	  .append("text")
			    		.attr("transform", "rotate(-90)")
			    		.attr("y", 3)
			    		.attr("dy", ".71em")
			    		.style("text-anchor", "end")
			    		.text(column);
			    } else {
			    	svg.append("g")
		    		.style("fill", color)
		    		.attr("class", "y axis")
		    		.attr("transform", "translate(" + (width+2+(45*yspot)) + " ,0)")
		    		.call(yAxis)
		    	  .append("text")
		    		.attr("transform", "rotate(-90)")
		    		.attr("y", -14)
		    		.attr("dy", ".71em")
		    		.style("text-anchor", "end")
		    		.text(column);
			    }
			    
			    yspot++;
			    yside = "right";
			    color = acceptableColors.shift();
				
			}
		});
	}) // end div curve_chart function	
}


$( document ).ready( function () {
  console.log("within the end of document call");

  drawChart();
  
}) // end document ready function

//document.addEventListener("resize", drawChart()); commented out because it forces a second graph in advanced options
</script>
