<head>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="mavfc/foodcomputer/templates/foodcomputer/graphics_all_variable.js"></script>
	<link rel="stylesheet" type="text/css" href="mavfc/foodcomputer/templates/foodcomputer/data_panel.css"></link>
</head>



<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            Data
{#            <a href="#" class="btn btn-default pull-right"></a>#}
        </p>
    </div>
    <div class="panel-body">
        <div id="curve_chart" style="width: 900px; height: 500px"></div>
            {% for data in data_list %}
                {% if not data.is_anomaly %}
                    <p>{{ data.timeStamp }} - {{ data.data_value }}</p>
                {% endif %}
            {% endfor %}
    </div>
    <div class="panel-footer">
{#        <a href="#" class="btn btn-success"></a>#}
{#        <a href="#" class="btn btn-primary pull-right"></a>#}
        <div class="clearfix"></div>
    </div>
</div>