<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            Data
{#            {{  }}#}
{#            <a href="#" class="btn btn-default pull-right"></a>#}
        </p>
    </div>
    <div class="panel-body">
{#        <p><strong>Field:</strong> {{ obj.value }}</p>#}
    </div>
    <div class="panel-footer">
{#        <a href="#" class="btn btn-success"></a>#}
{#        <a href="#" class="btn btn-primary pull-right"></a>#}
        <div class="clearfix"></div>
    </div>
</div>