{% extends parent_template|default:"foodcomputer/base_foodcomputer.html" %}

{% block title %}
	{{ block.super }} - {{ model_name }} Information
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        {% for bc_url, bc_name in device.get_breadcrumbs reversed %}
            {% if bc_url == 'active' %}
                <li class="active">{{ bc_name }}</li>
            {% else %}
                <li><a href="{{ bc_url }}">{{ bc_name }}</a></li>
            {% endif %}
        {% endfor %}
	</ul>
{% endblock %}

{% block content %}
    <script>
        google.charts.load('current', {packages: ['corechart', 'line', 'gauge']});
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                {% include "foodcomputer/device_panel.html" with device_detail="true" %}
                {% include "foodcomputer/data_panel.html" with data_list=device.data.all%}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}