{% if not listID %}
    <div ng-controller="myCtrldiv{{ device.pk }}">
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        {% if device_detail %}
            <h3>
                {{ device.device_type.name }}
                <small>{{ device.device_id }}</small>
    {#            <a href="#" title="Go to current experiment Rule" class="btn btn-success pull-right"><span class="glyphicon glyphicon-leaf"></span></a>#}
    {#            <a href="#" class="btn btn-default pull-right">Toggle</a>#}
                <div class="btn-group pull-right">
                    <a href="{% url 'foodcomputer:device_get_csv' device.pk %}" title="Download CSV of Device Data" class="btn btn-info"><span class="glyphicon glyphicon-cloud-download"></span></a>
                    {% if user.is_staff %}
                        <a href="{{ device.get_update_url }}" title="Edit" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{{ device.get_delete_url }}" title="Delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                </div>
            </h3>
        {% else %}
            <h4>
                {% if clps %}
                    <a data-toggle="collapse" data-parent="#{{ listID }}" href="#{{ listID }}{{ device.pk }}">
                        {{ device.device_type.name }}
                    </a>
                {% else %}
                    {{ device.device_type.name }}
                {% endif %}
                <small>{{ device.device_id }}</small>
    {#            <a href="#" title="Go to current experiment Rule" class="btn btn-success pull-right"><span class="glyphicon glyphicon-leaf"></span></a>#}
    {#            <a href="#" class="btn btn-default pull-right">Toggle</a>#}
                <div class="btn-group pull-right">
                    <a href="{% url 'foodcomputer:device_get_csv' device.pk %}" title="Download CSV of Device Data" class="btn btn-info"><span class="glyphicon glyphicon-cloud-download"></span></a>
                    {% if clps %}
                        <a href="{{ device.get_absolute_url }}" title="Detail Page" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span></a>
                    {% endif %}
                    {% if user.is_staff %}
                        <a href="{{ device.get_update_url }}" title="Edit" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{{ device.get_delete_url }}" title="Delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                </div>
            </h4>
        {% endif %}
        <div class="clearfix"></div>
    </div>

    {% if clps %}
        <div id="{{ listID }}{{ device.pk }}" class="panel-collapse collapse">
    {% endif %}
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <p><strong>Unit Type:</strong> {{ device.device_type.unit_type }}</p>
                <p><strong>Data Type:</strong> {{ device.device_type.data_type }}</p>
                <p><strong>Residual Threshold:</strong> {{ device.residual_threshold }}</p>
                <p><strong>Biological Threshold:</strong> {{ device.device_type.bio_threshold }}</p>
                <p><strong>Is a Controller:</strong> {{ device.device_type.is_controller }}</p>
            </div>
            <div class="col-sm-6">
                {% if device.device_type.is_controller %}
                    <button type="button" class="btn btn-default" ng-click="toggle(0.0)" ng-if="controllerToggle{{ device.pk }} == 1.0">
                        <strong><span id="toggle2" class="glyphicon glyphicon-off" style="color:darkgreen;text-shadow: 0px 0px 25px green;font-size:40px;"></span></strong>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="toggle(1.0)" ng-if="controllerToggle{{ device.pk }} == 0.0">
                        <strong><span id="toggle2" class="glyphicon glyphicon-off" style="color:darkred;text-shadow: 0px 0px 25px red;font-size:40px;"></span></strong>
                    </button>
                {% else %}
                    <div id="chart_div{{ device.pk }}" style="width: 400px; height: 120px;"></div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="panel-footer">
{#        <a href="#" class="btn btn-success">Experiment Rule</a>#}
        {% if not device_detail and not clps %}
            <a href="{{ device.get_absolute_url }}" title="Detail Page" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-list-alt"></span></a>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    {% if clps %}
        </div>
    {% endif %}
</div>
{% if not listID %}
</div>
<script>
    var datasetG{{ device.pk }} = [
        ['Label', 'Value'],
        ['{{ device.device_type.unit_type.abbr }}', {{ device.get_current_value.data_value }}]
    ];

    {% if not device.device_type.is_controller %}
    google.charts.setOnLoadCallback(drawChart{{ device.pk }});

    function drawChart{{ device.pk }}() {
        var data = google.visualization.arrayToDataTable(datasetG{{ device.pk }});
        var options = {
            width: 400, height: 120,
            minorTicks: 5
        };
        var chart = new google.visualization.Gauge(document.getElementById('chart_div{{ device.pk }}'));
        chart.draw(data, options);

        setInterval(function() {
            var dataset = google.visualization.arrayToDataTable(datasetG{{ device.pk }});
            chart.draw(dataset, options);
            console.log('Updated meter {{ device.pk }}    \n'+datasetG{{ device.pk }});
        }, 10000);
    }
    {% endif %}

    app.controller('myCtrldiv{{ device.pk }}', function($scope, $http, $timeout) {

        {% if device.device_type.is_controller %}
            $scope.controllerToggle{{ device.pk }} = 0;
        {% endif %}

        // Function to get the data
        $scope.getData = function(){
            $http.get("{% url 'foodcomputer:api_device_current_value' device.pk %}")
                .success(function(data, status, headers, config) {
                    datasetG{{ device.pk }} = [
                        ['Label', 'Value'],
                        ['{{ device.device_type.unit_type.abbr }}', data.data_value]
                    ];
                    {% if device.device_type.is_controller %}
                        $scope.controllerToggle{{ device.pk }} = data.data_value;
                    {% endif %}
                    console.log('Fetched data!    '+ data.data_value);
            });
        };


        {% if device.device_type.is_controller %}
        $scope.toggle = function(v) {
{#            Send API to update controller here.#}
             $scope.controllerToggle{{ device.pk }} = v; {# Remove line when API is added #}
        };
        {% endif %}

        // Function to replicate setInterval using $timeout service.
        $scope.intervalFunction = function(){
            $timeout(function() {
                $scope.getData();
                $scope.intervalFunction();
            }, 20000)
        };

        // Kick off the interval
        $scope.intervalFunction();
    });
</script>
{% endif %}
