<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            {{ device.get_device_name }}
            <a href="#" class="btn btn-default pull-right">Toggle</a>
        </p>
    </div>
    <div class="panel-body">
        <p><strong>Unit Type:</strong> {{ device.device_type.unit_type }}</p>
        <p><strong>Data Type:</strong> {{ device.device_type.data_type }}</p>
        <p><strong>Lower Threshold:</strong> {{ device.lower_threshold }}</p>
        <p><strong>Upper Threshold:</strong> {{ device.upper_threshold }}</p>
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-success">Experiment</a>
        <a href="#" class="btn btn-primary pull-right">Details</a>
    </div>
</div>