{% extends parent_template|default:"base.html" %}

{% block title %}
	{{ block.super }} - {{ model_name }} Chart
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
		{% for bc_url, bc_name in obj.get_breadcrumbs reversed %}
			{% if bc_url == 'active' %}
                <li class="active">{{ bc_name }}</li>
            {% else %}
                <li><a href="{{ bc_url }}">{{ bc_name }}</a></li>
            {% endif %}
        {% endfor %}
	</ul>
{% endblock %} 

{% block content %}
	<div class="container-fluid" style="margin-top:25px">
		<div class="row">
            <div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>
							Chart Like a Dolphin at BurgerKing: Have it your way, Cetacean. 
						</h3>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<div id="curve_chart" style="height: 900px"></div>
						<pre id="data">{{ prestring }}</pre>
						{% include "foodcomputer/chart.html" %}
					</div>
					<div class="panel-footer">
						{% include "foodcomputer/pi_advanced_options.html" %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}