{% extends parent_template|default:"foodcomputer/base_foodcomputer.html" %}


{% block title %}
	{{ block.super }} - Food Computer List
{% endblock %}


{% block content %}
    <div class="container-fluid" style="margin-top:25px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Food Computer List  {% if user.is_staff %}<a href="{% url 'foodcomputer:pi_create' %}" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="margin-top:5px">
                            {% if pis %}
                                {% for pi in pis %}
                                    <div class="col-md-6">
                                        {% include "foodcomputer/pi_panel.html" with obj=pi %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>There are no Food Computers.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}