{% extends parent_template|default:"foodcomputer/base_foodcomputer.html" %}


{% block title %}
	{{ block.super }} - Food Computer List
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="/home/">Home</a></li>
        <li class="active">Food Computer List</li>
	</ul>
{% endblock %}


{% block content %}
		<script>
				google.charts.load('current', {packages: ['corechart', 'line', 'gauge']});
				var app = angular.module("DeviceValueUpdate", []);
		</script>
		<div ng-app="DeviceValueUpdate">
    <div class="container" style="margin-top:25px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Food Computer List</h1>
            </div>
            <div class="panel-body">
                {% if pis %}
                    <ul class="nav nav-pills pull-right">
                        <li class="active"><a data-toggle="pill" href="#tile"><span class="glyphicon glyphicon-th"></span></a></li>
                        <li><a data-toggle="pill" href="#list"><span class="glyphicon glyphicon-th-list"></span></a></li>
                    </ul>
                    <div class="clearfix" style="margin-bottom: 15px"></div>
                    <div class="tab-content">
                        <div id="tile" class="tab-pane fade in active">
                            <div class="row" style="margin-top:5px">
                                {% for pi in pis %}
                                    <div class="col-md-6">
                                        {% include "foodcomputer/pi_panel.html" with obj=pi %}
                                    </div>
                                    {% cycle '' '<div class="clearfix visible-md visible-lg"></div>' %}
                                {% endfor %}
                            </div>
                        </div>
                        <div id="list" class="tab-pane fade">
                            {% with listID='piListID' %}
                                <div class="panel-group" id="{{ listID }}">
                                    {% for pi in pis %}
                                        {% include "foodcomputer/pi_panel.html" with obj=pi clps='true' %}
                                    {% endfor %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                {% else %}
                    <p>There are no Food Computers.</p>
                {% endif %}
            </div>
        </div>
		</div>
    </div>
{% endblock %}
