{#{% if not listID %}#}
{#    <div ng-controller="myCtrldiv{{ device.pk }}">#}
{#{% endif %}#}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-xs-6" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:0px;">
            {% if clps %}
                <h3>
                    <a data-toggle="collapse" data-parent="#{{ listID }}" href="#{{ listID }}{{ obj.pk }}">
                        {{ obj.name }}
                    </a>
                    <small>{{ obj.pi_SN }}</small>
                </h3>
            {% else %}
                <h3>
                    {{ obj.name }}
                    <small>{{ obj.pi_SN }}</small>
                </h3>
            {% endif %}
        </div>
        <div class="col-xs-6" style="padding-right:0px">
            <div class="btn-group pull-right h3">
                <a href="#" class="btn btn-success" title="Current Experiment Instance"><span class="glyphicon glyphicon-grain"></span></a>
                <a href="{% url 'foodcomputer:pi_get_csv' obj.pk %}" title="Download CSV of the Food Computer's Data" class="btn btn-info"><span class="glyphicon glyphicon-cloud-download"></span></a>
                {% if clps %}
                    <a href="{{ obj.get_absolute_url }}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span></a>
                {% endif %}
                {% if user.is_staff %}
                    <a href="{% url 'foodcomputer:pi_update' obj.pk %}" title="Edit" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{ obj.get_delete_url }}" title="Delete" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></a>
                {% endif %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {% if clps %}
        <div id="{{ listID }}{{ obj.pk }}" class="panel-collapse collapse">
    {% endif %}
    <div class="panel-body">
        <div class="btn-group pull-right">
            {% if user.is_staff or user == pi.user %}
                {% if obj.address %}
                    <a href="{% url 'foodcomputer:address_update' obj.address.pk %}" title="Edit" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> <span class="glyphicon glyphicon-map-marker"></span></a>
                    <a href="{% url 'foodcomputer:address_delete' obj.address.pk %}" title="Delete" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> <span class="glyphicon glyphicon-map-marker"></span></a>
                {% else %}
                    <a href="{% url 'foodcomputer:address_add' obj.pk %}" title="Add Address" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-map-marker"></span></a>
                {% endif %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><strong>Serial Number:</strong> {{ obj.pi_SN }}</p>
                <p><strong>Owner:</strong> {{ obj.user.get_full_name }}</p>
                <p><strong>Address:</strong> {{ obj.address.get_single_line_str }}</p>
                <p><strong>In Manual Mode:</strong> {{ obj.manual_control }}</p>
                <p><strong>Device Number:</strong> {{ obj.get_device_num }}</p>
            </div>
            <div class="col-sm-6">
            <!--     <button type="button" class="btn btn-default" ng-click="toggle(0.0)" ng-if="controllerToggle{{ pi.pk }} == 1.0">
                    <strong><span id="toggle2" class="glyphicon glyphicon-lock" style="color:darkgreen;text-shadow: 0px 0px 25px green;font-size:70px;"></span></strong>
                </button>
                <button type="button" class="btn btn-default" ng-click="toggle(1.0)" ng-if="controllerToggle{{ pi.pk }} == 0.0">
                    <strong><span id="toggle2" class="glyphicon glyphicon-lock" style="color:darkred;text-shadow: 0px 0px 25px red;font-size:70px;"></span></strong>
                </button> -->
            </div>
        </div>
    </div>
    {% if not pi_detail and not clps %}
        <div class="panel-footer">
            <a href="{% url 'foodcomputer:pi_detail' obj.pk %}" class="btn btn-primary pull-right" title="Details"><span class="glyphicon glyphicon-list-alt"></span></a>
            <div class="clearfix"></div>
        </div>
    {% endif %}
    {% if clps %}
        </div>
    {% endif %}
</div>
