{% extends parent_template|default:"foodcomputer/base_foodcomputer.html" %}

{% block title %}
	{{ block.super }} - Update {{ model_name }}
{% endblock %}

{% block app_nav %}
	{{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    {% include 'foodcomputer/form_panel.html' with form_url=obj.get_update_url action_str='update' cancel_url=obj.get_absolute_url form=form form_is_multipart=form.is_multipart model_name=model_name obj_create_url=obj.get_create_url obj_delete_url=obj.get_delete_url %}
</div>
{% endblock %}