<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            MavFC User Help
        </title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed (Bootstrap JavaScript) -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
    </head>
    
<body>    
    <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
    <div style="margin-top:100px"></div>
    <div style="width:60%; margin: 0 auto;">
        <div style="text-align:center; font-size:60px">MAVFC USER HELP</div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" style="width:100%" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sections
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="width:100%" aria-labelledby="dropdownMenu1">
            <li><a href="#1">Food Computers</a></li>
            <li><a href="#2">Experiments</a></li>
            <li><a href="#3">Something else here</a></li>
            <li><a href="dolphins">Dolphins</a></li>

          </ul>
        </div>
        <div style="margin-top:25px"></div>
        <div id="1" style="font-size:20pt">
            Food Computers
        </div>
        <div style="font-size:14pt">
            Write text here.
            <br><br>
        </div>
        <div id="2" style="font-size:20pt">
            Experiments
        </div>
        <div style="font-size:14pt">
            Write text here.
            <br><br>
        </div>
        <div id="3" style="font-size:20pt">
            Something Else Here 
        </div>
        <div style="font-size:14pt">
            Write text here.
            <br><br>
        </div>
        <div id="dolphins" style="margin-top:25px"></div>
        <marquee style="background-color: #87CEFA;"scrolldelay="60">🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 </marquee>
        <marquee direction="down" width="100%" height="100" behavior="alternate" style="border:solid">
            <marquee behavior="alternate">
                🐬
            </marquee>
        </marquee>
        <marquee style="background-color: #87CEFA;"scrolldelay="60"direction="right">🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 </marquee>
    </div>
    
</body>
</html>