<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            MavFC User Help
        </title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed (Bootstrap JavaScript) -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
    </head>
    
<body>    
    <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
    <div style="margin-top:100px"></div>
    <div style="width:60%; margin: 0 auto;">
        <div style="text-align:center; font-size:60px">MAVFC USER HELP</div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" style="width:100%" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sections
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="width:100%" aria-labelledby="dropdownMenu1">
            <li><a href="#1">Account Creation</a></li>	   
            <li><a href="#2">Navigation Bar</a></li>
			<li><a href="#3">Food Computers</a></li>
            <li><a href="#4">Experiments</a></li>
            <li><a href="dolphins">Dolphins</a></li>

          </ul>
        </div>
        <div style="margin-top:25px"></div>
        <div id="1" style="font-size:20pt">
            Account Creation		
        </div>
        <div style="font-size:12pt">
            1: To create an account, click the "Sign Up" button on the navigation bar.
		<img src="https://cloud.githubusercontent.com/assets/25069295/25416063/54a32cb8-2a01-11e7-9114-e141261955f8.JPG" alt="Sign Up" style="width:675px;height:125px;">	
            <br><br>
        </div>
        <div style="font-size:12pt">
            2: Fill out the presented form and click the "Create New Account" button. 
		<img src="https://cloud.githubusercontent.com/assets/25069295/25416874/dbd31b86-2a05-11e7-9e26-56b32de0e40e.JPG" alt="Create Account" style="width:708px;height:453px;">	
            <br><br>
        </div>
        <div style="font-size:12pt">
            3: Access the activation email that was sent to you and click the link in the email to activate your account. 
		    <br><br>
        </div>		
        <div style="font-size:12pt">
            4: Using the credentials for account creation, sign into your newly created account!  
		<img src="https://cloud.githubusercontent.com/assets/25069295/25417189/0416050c-2a08-11e7-9c80-b94892c2c05c.JPG" alt="Account Sign-In" style="width:892px;height:372px;">	
            <br><br>
        </div>		
        <div id="2" style="font-size:20pt">
            Navigation Bar 
        </div>
        <div style="font-size:14pt">
            The navigation bar can be used to access any component of the webpage at any time. 
			<br>
			<div style="font-size:12pt">
				1. The "MAVFC" button redirects to the homepage. <br>
				2. The "Pages" button is a dropdown list of all pages on site. <br>
				3. The "Food Computer List" button redirects to a list of food computers. <br>
				4. The "Experiment List" button redirects to a list of food experiments. <br>
				5. The "Search Experiments" search bar allows for search-by-name of experiments. Upon valid seach, the site will redirect to that experiment. <br>
				6. The user tab allows for access to account options. <br>
			</div>
		<img src="https://cloud.githubusercontent.com/assets/25069295/25438439/139eb0c6-2a5f-11e7-9c4c-76b5276625a5.JPG" alt="Navigation Bar" style="width:1248px;height:105px;">	
            <br><br>
        </div>		
        <div id="3" style="font-size:20pt">
            Food Computers
        </div>
        <div style="font-size:14pt">
            Upon clicking the "Food Computer List" button, a list of food computers will appear in the following format:
            <br>
			<div style="font-size:12pt">
				1. This is the name and ID of the food computer listed. <br>
				2. This button set allows access to different aspects of the food computer. Left to right is: Current Experiment Instance, Download CSV of Food Computer Data, Edit Food Computer, and Delete Food Computer.<br>
				3. Pertinent details regarding the food computer such as serial number, owner, address, and device number can be seen here.   <br>
				4. This button set allows for adding or deleting a location for the food computer. <br>
				5. This button controls the manual pi override on the food computer. When this is on, the experiment is able to be manipulated by manual control of the food computer's actuators. <br>
				6. This button redirects to an in-depth look at the food computers data and a graphical analysis of that data. <br>
			</div>
		<img src="https://cloud.githubusercontent.com/assets/25069295/25439423/09e27452-2a62-11e7-9682-78533eeadeb3.JPG" alt="Food Computer" style="width:714px;height:455px;">				
			<br><br>
        </div>
        <div id="4" style="font-size:20pt">
            Experiments
        </div>
        <div style="font-size:12pt">
            Write text here.
            <br><br>
        </div>
	
        <div id="dolphins" style="margin-top:25px"></div>
        <marquee style="background-color: #87CEFA;"scrolldelay="60">🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 </marquee>
        <marquee direction="down" width="100%" height="100" behavior="alternate" style="border:solid">
            <marquee behavior="alternate">
                🐬
            </marquee>
        </marquee>
        <marquee style="background-color: #87CEFA;"scrolldelay="60"direction="right">🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 🐬 </marquee>
    </div>
    
</body>
</html>