{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
	{{ block.super }} - Login
{% endblock %}

{% block breadcrumbs %}
        <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Login</li>
        </ul>
{% endblock %}

{% block content %}
	<div class="container" style="margin-top:25px">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				{% include "user/login_form.html" %}
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
{% endblock %}