{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
    {{ block.super }} - Password Reset Successful
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'user:login' %}">Login</a></li>
        <li class="active">Reset Password Complete</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:25px">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success">
                    <strong>Success!</strong> Your password has been reset.
                </div>
                {% include "user/login_form.html" %}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}