{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
	{{ block.super }} - Reset Password
{% endblock %}

{% block breadcrumbs %}
        <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'user:login' %}">Login</a></li>
                <li class="active">Reset Password</li>
        </ul>
{% endblock %}

{% block content %}
<script>
        $(document).ready(function(){
                $("#passwordResetPagePanel input").addClass("form-control");
                $("#id_new_password1").attr("placeholder", "New Password");
                $("#id_new_password1").after("<span class='input-group-addon'><i class='glyphicon glyphicon-lock'></i></span>");
                $("#id_new_password2").attr("placeholder", "New Password (Again)");
                $("#id_new_password2").after("<span class='input-group-addon'><i class='glyphicon glyphicon-lock'></i></span>");
                $("#passwordResetPagePanel ul").addClass("list-group");
                $("#passwordResetPagePanel li").addClass("list-group-item");
                $("#passwordResetPagePanel li").addClass("list-group-item-danger");
        });
</script>
<style>
        #passwordResetPagePanel .panel-heading {
        padding:15px 25px;
        border-bottom:1px solid #eee;
        background-image: none;
        background-color: #232323;
        color: #D8D7D5; !important;
        }
        #passwordResetPagePanel .panel-heading h3  {
        color: #D8D7D5; !important;
        }
    #passwordResetPagePanel .panel-body{
        padding:25px 60px 15px;
    }
    #passwordResetPagePanel .panel-footer {
        background-color: #f9f9f9;
        }
</style>
<div class="container" style="margin-top:25px">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <div id="passwordResetPagePanel" class="panel panel-default">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-lock"></span> Reset Your Password</h3>
                </div>
                    {% if validlink %}
                    <form action="{{ request.path }}" method="post" class="form-horizontal">
                        <div class="panel-body">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    <div class="input-group">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-danger pull-left" href="{% url 'dj-auth:login' %}"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                            <button type="submit" class="btn btn-primary pull-right">Save New Password</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                {% else %}
                    <div class="panel-body">
                        <p>This reset link is no longer valid.</p>
                        <p>Please request a new reset email <a href="{% url 'dj-auth:pw_reset_start' %}">here</a>.</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}