{% extends parent_template|default:"foodcomputer/base_foodcomputer.html" %}

{% block title %}
	{{ block.super }} - Add New {{ model_name }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        {% for bc_url, bc_name in breadcrumb_list reversed %}
            {% if bc_url == 'active' %}
                <li class="active">{{ bc_name }}</li>
            {% else %}
                <li><a href="{{ bc_url }}">{{ bc_name }}</a></li>
            {% endif %}
        {% endfor %}
	</ul>
{% endblock %}

{% block app_nav %}
	{{ block.super }}
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $("#formPanel ul").addClass("list-group");
            $("#formPanel li").addClass("list-group-item");
            $("#formPanel li").addClass("list-group-item-danger");
        });
    </script>
    <div class="container">
        {% include 'foodcomputer/form_panel.html' with action_str='add new' form_is_multipart=form.is_multipart %}
    </div>
{% endblock %}