{% if not listID %}
    <div ng-controller="theCtrldiv{{ obj.pk }}">
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-6" style="padding:0px;">
            {% if clps %}
                <h3>
                    <a data-toggle="collapse" data-parent="#{{ listID }}" href="#{{ listID }}{{ obj.pk }}">
                        {{ obj.name }}
                    </a>
                    <small>{{ obj.pi_SN }}</small>
                </h3>
            {% else %}
                <h3>
                    {{ obj.name }}
                    <small>{{ obj.pi_SN }}</small>
                </h3>
            {% endif %}
        </div>
        <div class="col-sm-6" style="padding-right:0px">
            <div class="btn-group pull-right h3">
                {% if obj.get_active_instance_url %}
                    <a href="{{ obj.get_active_instance_url }}" class="btn btn-success" title="Current Experiment Instance"><span class="glyphicon glyphicon-grain"></span></a>
                {% endif %}
                <a href="{% url 'foodcomputer:pi_get_csv' obj.pk %}" title="Download CSV of the Food Computer's Data" class="btn btn-info"><span class="glyphicon glyphicon-cloud-download"></span></a>
                {% if clps %}
                    <a href="{{ obj.get_absolute_url }}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span></a>
                {% endif %}
                {% if user.is_staff or obj.user == user %}
                    <a href="{% url 'foodcomputer:pi_update' obj.pk %}" title="Edit" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{ obj.get_delete_url }}" title="Delete" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></a>
                {% endif %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {% if clps %}
        <div id="{{ listID }}{{ obj.pk }}" class="panel-collapse collapse">
    {% endif %}
    <div class="panel-body">
        <div class="btn-group pull-right">
            {% if user.is_staff or user == obj.user %}
                {% if obj.address %}
                    <a href="{% url 'foodcomputer:address_update' obj.address.pk %}" title="Edit" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> <span class="glyphicon glyphicon-map-marker"></span></a>
                    <a href="{% url 'foodcomputer:address_delete' obj.address.pk %}" title="Delete" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> <span class="glyphicon glyphicon-map-marker"></span></a>
                {% else %}
                    <a href="{% url 'foodcomputer:address_add' obj.pk %}" title="Add Address" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-map-marker"></span></a>
                {% endif %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><strong>Serial Number:</strong> {{ obj.pi_SN }}</p>
                <p><strong>Owner:</strong> {{ obj.user.get_full_name }}</p>
                <p><strong>Address:</strong> {{ obj.address.get_single_line_str }}</p>
                <p><strong>Device Number:</strong> {{ obj.get_device_num }}</p>
            </div>
            {% if not listID %}
            <div class="col-sm-6">
                <button type="button" class="btn btn-default" ng-click="toggle(false)" ng-if="manualControlToggler{{ obj.pk }}" ng-cloak title="Manual Control is ON" style="margin-top:15px;" ng-disabled="!authenticated{{ obj.pk }}">
                    <strong><span style="font-size:25px;">On</span> <span id="toggleOn{{ obj.pk }}" class="glyphicon glyphicon-asterisk" style="color:darkgreen;text-shadow: 0px 0px 25px green;font-size:25px;"></span></strong>
                </button>
                <button type="button" class="btn btn-default" ng-click="toggle(true)" ng-if="!manualControlToggler{{ obj.pk }}" ng-cloak title="Manual Control is OFF" style="margin-top:15px;" ng-disabled="!authenticated{{ obj.pk }}">
                    <strong><span style="font-size:25px;margin-right:5px;">Off</span> <span id="toggleOff{{ obj.pk }}" class="glyphicon glyphicon-lock" style="color:darkred;text-shadow: 0px 0px 25px red;font-size:25px;"></span></strong>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    {% if not pi_detail and not clps %}
        <div class="panel-footer">
            <a href="{% url 'foodcomputer:pi_detail' obj.pk %}" class="btn btn-primary pull-right" title="Details"><span class="glyphicon glyphicon-list-alt"></span></a>
            <div class="clearfix"></div>
        </div>
    {% endif %}
    {% if clps %}
        </div>
    {% endif %}
</div>
{% if not listID %}
</div>
<script>
    app.controller('theCtrldiv{{ obj.pk }}', function($scope, $http, $timeout) {

{#        $scope.manualControlToggler{{ obj.pk }} = false;#}

        // Function to get the data
        $scope.getData = function(){
            $http.get("{% url 'foodcomputer:api_pi_current_value' obj.pk %}")
                .success(function(data, status, headers, config) {
                    $scope.manualControlToggler{{ obj.pk }} = data.manual_control;
                    console.log('Fetched data!    '+ data.manual_control);
            });
        };

        $scope.toggle = function(v) {
            $http.put("{% url 'foodcomputer:api_pi_current_value' obj.pk %}", JSON.stringify({"manual_control": v}), {"Content-Type": "application/json"})
                .then(function mySuccess(response) {
                    $scope.manualControlToggler{{ obj.pk }} = response.data.manual_control;
                    console.log(response);
                }, function myError(response) {
                    $scope.manualControlError{{ obj.pk }} = response.statusText;
                    console.log(response);
            });
        };

        // Function to replicate setInterval using $timeout service.
        $scope.intervalFunction = function(){
            $timeout(function() {
                $scope.getData();
                $scope.intervalFunction();
            }, 10000)
        };

        // Kick off the interval
        $scope.getData();
        $scope.intervalFunction();
        $scope.authenticated{{ obj.pk }} = false;
        {% if user.is_staff or obj.user == user %}
            $scope.authenticated{{ obj.pk }} = true;
        {% endif %}

    });
</script>
{% endif %}
