{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
	{{ block.super }} - Reset Password
{% endblock %}

{% block content %}
	<script>
		$(document).ready(function(){
			$("input").addClass("form-control");
		});
	</script>
	<div class="container" style="margin-top:50px">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Password Reset</h3>
					</div>
				    <form action="{% url 'dj-auth:pw_reset_start' %}" method="post" class="form-horizontal">
						<div class="panel-body">
							<div class="form-group">
				    			<p style="margin-left:25px;">Reset your password by email.</p>
						        {% csrf_token %}
								{{ form.non_field_errors }}
							</div>
							{% for field in form %}
								<div class="form-group">
									{{ field.errors }}
									<label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }}:</label>
									<div class="col-sm-10">
										{{ field }}
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="panel-footer">
							<a href="{% url 'dj-auth:login' %}" class="btn btn-default">Cancel</a>
					        <button type="submit" class="btn btn-primary pull-right">Send Me Reset Instructions</button>
					    </div>
				    </form>
			    </div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
{% endblock %}