{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
	{{ block.super }} - Reset Password
{% endblock %}

{% block content %}
	<div class="container">
	    {% if validlink %}
	        <p>Enter a new password below.</p>
	        <form action="{{ request.path }}" method="post">
			    {% csrf_token %}
				{{ form.non_field_errors }}
				{% for field in form %}
					<div class="form-group">
						{{ field.errors }}
						<label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }}:</label>
						<div class="col-sm-10">
							{{ field }}
						</div>
					</div>
				{% endfor %}
			    <button class="button-primary" type="submit">Save New Password</button>
	        </form>
	    {% else %}
	        <p>This reset link is no longer valid.</p>
	        <p>Please request a new reset email <a href="{% url 'dj-auth:pw_reset_start' %}">here</a>.</p>
	    {% endif %}
	</div>
{% endblock %}