{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
	{{ block.super }} - Password Reset Successful
{% endblock %}

{% block content %}
	<div class="container" style="margin-top:50px">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<p>Your password has been reset.</p>
				<p>Log in below using your new password.</p>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				{% include "user/login_form.html" %}
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
{% endblock %}