{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
    {{ block.super }} - Create Account
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Create Account</li>
    </ul>
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $("input").addClass("form-control");
            $("#userCreatePagePanel ul").addClass("list-group");
            $("#userCreatePagePanel li").addClass("list-group-item");
            $("#userCreatePagePanel li").addClass("list-group-item-danger");
            $("#id_first_name").focus();
        });
    </script>
    <style>
        #userCreatePagePanel .panel-heading {
            padding: 15px 25px;
            border-bottom: 1px solid #eee;
            background-image: none;
            background-color: #232323;
            color: #D8D7D5;
        !important;
        }

        #userCreatePagePanel .panel-heading h3 {
            color: #D8D7D5;
        !important;
        }

        #userCreatePagePanel .panel-body {
            padding: 25px 60px 15px;
        }

        #userCreatePagePanel .panel-footer {
            background-color: #f9f9f9;
        }
    </style>
    <div class="container" style="margin-top:25px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default" id="userCreatePagePanel">
                    <div class="panel-heading">
                        <h3>Create Account</h3>
                    </div>
                    <form action="{% url 'dj-auth:create' %}" method="post" class="form-horizontal">
                        <div class="panel-body">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    <label class="control-label col-sm-4" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    <div class="col-sm-8">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <a href="/" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary pull-right">Create New Account</button>
                            <a href="{% url 'dj-auth:resend_activation' %}" class="btn btn-info pull-right" style="margin-right:10px">Lost Activation E-Mail?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}
